.playlist {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  height: 100px;
  width: 100px;
  /* margin-bottom: 15px; */
  /* border: 1px solid black; */
  margin: 10px 4% 15% 4%;
  clear: both;
}

.cover {
  width: 90%;
  height: 90%;
  object-fit: cover;
  object-position: center center;
  margin-bottom: 4%;
  border-radius: 25%;
}

.title {
  width: inherit;
  margin-top: 2.5%;
  font-family: "Courier New", monospace;
  color: #484848;
}
